<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Book Detail</title>
</head>
<body>
<h1>Book Detail</h1>
<p><strong>Title:</strong> <span th:text="${book.title}"></span></p>
<p><strong>Author:</strong> <span th:text="${book.author}"></span></p>
<p><strong>Publisher:</strong> <span th:text="${book.publisher}"></span></p>
<p><strong>ISBN:</strong> <span th:text="${book.isbn}"></span></p>
<p><strong>Description:</strong> <span th:text="${book.description}"></span></p>
</body>
</html>